.house_button{
        margin-top: 30px;
        width: 192px;
        height: 50px;
        font-size: 16px;
        font-weight: 400;
        color: #2A2C1F;
        text-align: center;
        border-radius: 5px;
        border: 0.5px solid #E7E8E3;;
        background-color: #fff;
}