.latest {
    background-color: #E7E8E3;
    padding: 130px 0 125px 0;
    &_header{
        padding: 0 80px 0 80px;
        &_text{
            width: 768px;
        }
    }
    &_content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 25px;
        justify-content: space-between;
        padding: 40px 80px 50px 80px;
    }
    &_item{
        background-color: #fff;
        border-radius: 10px; 
        &_hed{
          display: flex;
          justify-content: left;
        }
    }
    &_descr{
      padding: 25px 50px 27px 25px;
    }
    &_title{
      font-size: 24px;
      font-weight: 700;
    }
    &_subtitle{
      font-size: 16px;
      font-weight: 400;
      color:#65665C;
    }
}

.trends{
  background-color: #FAE8E1;
  border: none;
  border-radius: 20px;
  width: 20%;
  text-align: center;
  margin-bottom: 0;
  height: 29px;
}

.date {
  padding-left: 16px;
  font-size: 14px;
  font-weight: 400;
  color:#65665C;
}

.img_latest{
  width: 100%;
}
