.priority_content {
    background-color: #65665C;
    border-radius: 10px;
    padding-bottom: 96px;
    padding-right: 257.5px;
    padding-left: 257.5px;
    margin: 0 auto;
}
.priority_img {
    display: block;
    margin: 0 auto;
    padding-top: 97px;
}
.button_priority {
    display: block;
    margin: 0 auto;
    width: 137px;
    height: 50px;
    border: none;
    background-color: #CF6F49;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
}